{% extends 'forum/base.html' %}

{% block content %}

<a name="top"></a>
      <h2>{{user.username}}'s Profile</h2>
      <p> <a href="/">Liberty Forum</a> / <a href="{% url 'profile_view' user.username %}">{{user.username}}'s
          Profile</a></p>
      <p> </p>
      <table>
        <tbody>
          <tr>
            <th>{{user.username}}'s Latest Topics ( <a href="{% url 'view_topics' user.username %}">View All {{topics_count}} Topic{{topics_count|pluralize:'s'}}</a> | <a
                href="{% url 'view_posts' user.username %}">Posts</a> )</th>
          </tr>
        {% for topic in topics %}
          <tr>
            <td id="" class="w"><a name="6537866"></a> <img
                src="./normal_post.gif"> <b><a
                  href="{% url 'section' section %}">{{topic.board.name}}</a></b> / <b><a
                  href="{% url 'topic' id %}">{{topic.title}}</a> </b> <a href="https://www.nairaland.com/6537866/8-lions-indian-zoo-test/1">(2)</a> <a
                href="https://www.nairaland.com/6537866/8-lions-indian-zoo-test/2">(3)</a> <img
                src="./{{user.username}}&#39;s Profile_files/new.gif"> <b>*</b> <br><span class="s">by <b><a
                    href="https://www.nairaland.com/{{user.username}}">{{user.username}}</a></b>. <b>70</b> posts &amp; <b>17463</b> views.
                <b>6:54am</b> (<b><a href="https://www.nairaland.com/sayisayi">sayisayi</a></b>)</span></td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
      <p></p>



      <table>
        <tbody>
          <tr>
            <td>(<a class="unft"
                onclick=";"
                href="">Follow
                This Member</a>)<p><a href="https://www.nairaland.com/sendemail/{{user.username}}"> Send E-Mail Message To
                  {{user.username}}</a></p>
              <p><img class="img" src="./{{user.username}}&#39;s Profile_files/ap42ktu6z1rjl9ud4iqxsgpe5vm8ek60529204"></p>
              <p><b>Time uploaded:</b> <b>5:44am</b> On <b>Feb 01</b></p>
              <p class="s"><b id="avt529204">20 Likes</b> &amp; <b>370 Old Likes</b> (<a id="avl529204"
                  onclick=""
                  href="">Like</a>)
              </p>
              <p><b>Bio</b>: NEVER</p>
              <p><b>Location</b>: NEVER</p>
              <p><b>Facebook</b>: NEVER</p>
              <p><b>Twitter</b>: NEVER</p>
              <p><b>Instagram</b>: NEVER</p></p>
              <p><b>Time registered</b>: May 13, 2010</p>
              
              </p>
              <p><b>Last seen</b>: <b>10:04am</b></p>
              <p><a href="https://www.nairaland.com/{{user.username}}/posts">View {{user.username}}'s posts (120198)</a> | <a
                  href="https://www.nairaland.com/{{user.username}}/topics">View {{user.username}}'s topics (176)</a></p>
              <p><b>Moderates:</b> <a href="https://www.nairaland.com/crime">Crime</a>, <a
                  href="https://www.nairaland.com/politics">Politics</a>, <a
                  href="https://www.nairaland.com/diaries">Diaries</a>, <a
                  href="https://www.nairaland.com/racism-tribalism">Ethnic, Racial, Or Sectarian Politics</a>, <a
                  href="https://www.nairaland.com/ads">Nairaland Ads</a></p>
              <p><b>Section Most Active In: </b><a href="https://www.nairaland.com/politics">Politics</a></p>
            </td>
          </tr>
        </tbody>
      </table>
      <p></p>
      <table summary="friends">
        <tbody>
          <tr>
            <th>Following (2):</th>
          </tr>
          <tr>
            <td class="user w"><a href="https://www.nairaland.com/presidency">presidency</a>, <a
                href="https://www.nairaland.com/ujsizzle">UjSizzle</a>(<span class="f">f</span>)</td>
          </tr>
        </tbody>
      </table>
      <p class="small">(<a href="#up"><b>Go Up</b></a>)</p>


  {% endblock content %}