<a name="top"></a>
<h2>Politics - Nairaland</h2>
<p class="bold"><a href="{% url 'home' %}">Nairaland Forum</a> / <a
        href="{% url 'section_link' 'General' %}">Nairaland / General</a> / <a
        href="{% url 'section_link' {{board.name}} %}">{{board.name}}</a> </p>
<p></p>

<!-- if statements here -->
<table summary="">
    <tbody>
        <tr>
            <td><b><a href="https://www.nairaland.com/foreign-affairs">Foreign Affairs</a></b>: International Politics
                &amp; other issues (43442 topics)</td>
        </tr>
        <tr>
            <td class="w"><b><a href="https://www.nairaland.com/racism-tribalism">Ethnic, Racial, Or Sectarian
                        Politics</a></b>: Racist, ethnicity-oriented and sectarianist/seccesionist threads will end up
                here! (7333 topics)</td>
        </tr>
    </tbody>
</table>

<p><a href="{% url 'section_link' {{board.name}} %}">{{board.name}}</a>: Our country Nigeria is the giant of Africa! <b>Ad
        Rate</b>: <a href="https://www.nairaland.com/adrates">₦<b>87,786.19</b>/week (<b>16.7</b>% discount)</a>.<br>
</p>

<!-- Vertipics -->
<div class="vertipics"><a href="https://www.nairaland.com/hopto/politics/11744" rel="sponsored"><img
            src="./Politics - Nigeria - Nairaland_files/nfe7j2tvkqr39xtoll3s4jkewfzbhe4i.jpg"></a><a
        href="https://www.nairaland.com/hopto/politics/111" rel="sponsored"><img
            src="./Politics - Nigeria - Nairaland_files/ujsti16vmkvlxuxyzafqz3hlbs1j0np6.png"></a><a
        href="https://www.nairaland.com/hopto/politics/11043" rel="sponsored"><img
            src="./Politics - Nigeria - Nairaland_files/ri300o5o3pv87zynf1qqtxn4cb97yzwp.jpg"></a></div>

<!-- Create new topic with pagination links -->
<p> <b>(1)</b> <a href="https://www.nairaland.com/politics/1">(2)</a> <a
        href="https://www.nairaland.com/politics/2">(3)</a> <a href="https://www.nairaland.com/politics/3">(4)</a> <a
        href="https://www.nairaland.com/politics/4">(5)</a> <a href="https://www.nairaland.com/politics/5">(6)</a> <a
        href="https://www.nairaland.com/politics/6">(7)</a> <a href="https://www.nairaland.com/politics/7">(8)</a> <a
        href="https://www.nairaland.com/politics/8">(9)</a> <a href="https://www.nairaland.com/politics/9">(10)</a> (of
    <b>12344</b> pages) (<a href="{% url 'create_topic' {{board.name}} %}">Create New Topic</a>) </p>

    <!-- Starting table -->
<p></p>
<table>
    <tbody>
        <tr>
            <th>Topic: <a href="{% url 'posts' {{section.name}} %}">Posts</a> / <a
                    href="{% url 'views' {{section.name}} %}">Views</a> / <a
                    href="{% url 'updated' {{section.name}} %}">Updated</a> / <a
                    href="{% url 'new' {{section.name}} %}">New</a></th>
        </tr>
        {% for topics in  board %}
        <tr>
            <td id="top2792995" class="w"> <img
                    src="./Politics - Nigeria - Nairaland_files/sticky.gif"> <b><a
                        href="https://www.nairaland.com/2792995/nairaland-says-no-secessionists">Nairaland Says No To
                        Secessionists</a> </b> <a
                    href="https://www.nairaland.com/2792995/nairaland-says-no-secessionists/1">(2)</a> <a
                    href="https://www.nairaland.com/2792995/nairaland-says-no-secessionists/2">(3)</a> <a
                    href="https://www.nairaland.com/2792995/nairaland-says-no-secessionists/3">(4)</a> ... <a
                    href="https://www.nairaland.com/2792995/nairaland-says-no-secessionists/138">(139)</a> <a
                    href="https://www.nairaland.com/2792995/nairaland-says-no-secessionists/139">(140)</a> <a
                    href="https://www.nairaland.com/2792995/nairaland-says-no-secessionists/140">(141)</a> <b>*</b>
                <br><span class="s">by <b><a href="https://www.nairaland.com/seun">Seun</a></b>. <b>4481</b> posts &amp;
                    <b>507945</b> views. <b>9:16am</b> On <b>Apr 29</b> (<b><a 
                            href="https://www.nairaland.com/mja4833">Mja4833</a></b>)</span></td>
        </tr>
        <tr>
            <td id="top6225769" class=""><a name="6225769"></a> <img
                    src="./Politics - Nigeria - Nairaland_files/normal_post.gif"> <b><a
                        href="https://www.nairaland.com/6225769/nigerian-politics-how-publish-book">Nigerian Politics:
                        How To Publish A Book On Nigerian Politics</a> </b> <a
                    href="https://www.nairaland.com/6225769/nigerian-politics-how-publish-book/1">(2)</a> <a
                    href="https://www.nairaland.com/6225769/nigerian-politics-how-publish-book/2">(3)</a> <a
                    href="https://www.nairaland.com/6225769/nigerian-politics-how-publish-book/3">(4)</a> ... <a
                    href="https://www.nairaland.com/6225769/nigerian-politics-how-publish-book/570">(571)</a> <a
                    href="https://www.nairaland.com/6225769/nigerian-politics-how-publish-book/571">(572)</a> <a
                    href="https://www.nairaland.com/6225769/nigerian-politics-how-publish-book/572">(573)</a> <img
                    src="./Politics - Nigeria - Nairaland_files/new.gif"> <br><span class="s">by <b><a
                            href="https://www.nairaland.com/editorspalace">EditorsPalace</a></b>. <b>18307</b> posts
                    &amp; <b>35643</b> views. <b>3:29am</b> (<b><a
                            href="https://www.nairaland.com/number8">Number8</a></b>)</span></td>
        </tr>
        <tr>
            <td id="top6537880" class="w"><a name="6537880"></a> <img
                    src="./Politics - Nigeria - Nairaland_files/normal_post.gif"> <b><a
                        href="https://www.nairaland.com/6537880/wike-secession-wont-allow-anyone">Wike On Secession:
                        Won’t Allow Anyone To Annex, Hoist Unnecessary Flag In Rivers</a> </b> <a
                    href="https://www.nairaland.com/6537880/wike-secession-wont-allow-anyone/1">(2)</a> <a
                    href="https://www.nairaland.com/6537880/wike-secession-wont-allow-anyone/2">(3)</a> <a
                    href="https://www.nairaland.com/6537880/wike-secession-wont-allow-anyone/3">(4)</a> <a
                    href="https://www.nairaland.com/6537880/wike-secession-wont-allow-anyone/4">(5)</a> <a
                    href="https://www.nairaland.com/6537880/wike-secession-wont-allow-anyone/5">(6)</a> <img
                    src="./Politics - Nigeria - Nairaland_files/new.gif"> <b>*</b> <br><span class="s">by <b><a
                            href="https://www.nairaland.com/bolaayenimo">bolaayenimo</a></b>. <b>184</b> posts &amp;
                    <b>12148</b> views. <b>3:27am</b> (<b><a
                            href="https://www.nairaland.com/armanipounds">Armanipounds</a></b>)</span></td>
        </tr>
        
       
        <tr>
            <td id="top6538410" class=""><a name="6538410"></a> <img
                    src="./Politics - Nigeria - Nairaland_files/normal_post.gif"> <b><a
                        href="https://www.nairaland.com/6538410/leaders-dull-ghanaian-pastor-blasts">"Your Leaders Are
                        Dull" Ghanaian Pastor Blasts Nigerians</a> </b> <img
                    src="./Politics - Nigeria - Nairaland_files/new.gif"> <br><span class="s">by <b><a
                            href="https://www.nairaland.com/mikeybrainy">mikeybrainy</a></b>. <b>6</b> posts &amp;
                    <b>65</b> views. <b>3:22am</b> (<b><a
                            href="https://www.nairaland.com/akwamkpuruamu">Akwamkpuruamu</a></b>)</span></td>
        </tr>
       
    </tbody>
</table>

<!-- Breadcrumbslinks -->
<p> <b>(1)</b> <a href="https://www.nairaland.com/politics/1">(2)</a> <a
        href="https://www.nairaland.com/politics/2">(3)</a> <a href="https://www.nairaland.com/politics/3">(4)</a> <a
        href="https://www.nairaland.com/politics/4">(5)</a> <a href="https://www.nairaland.com/politics/5">(6)</a> <a
        href="https://www.nairaland.com/politics/6">(7)</a> <a href="https://www.nairaland.com/politics/7">(8)</a> <a
        href="https://www.nairaland.com/politics/8">(9)</a> <a href="https://www.nairaland.com/politics/9">(10)</a> (of
    <b>12344</b> pages) (<a href="https://www.nairaland.com/newtopic?board=20">Create New Topic</a>) </p>

<!-- Vertipics -->
<div class="vertipics"><a href="https://www.nairaland.com/hopto/politics/5993" rel="sponsored"><img
            src="./Politics - Nigeria - Nairaland_files/yqm1g51uxhrjk6804rjcvpvj2cm9po9n.jpg"></a><a
        href="https://www.nairaland.com/hopto/politics/10585" rel="sponsored"><img
            src="./Politics - Nigeria - Nairaland_files/o7b4qnfaadkqrrb5drg6pdeg4tcfryse.jpg"></a><a
        href="https://www.nairaland.com/hopto/politics/12058" rel="sponsored"><img
            src="./Politics - Nigeria - Nairaland_files/2jyfq3bpp1uqm6tmdza64sf2x4uoto79.jpg"></a></div>