{% extends 'forum/base.html' %}
{% block content %}

<a name="top"></a>
<h2>Followed Topics</h2><a href="{% url 'home' %}">Liberty Forum</a> / <a href="{% url 'followed_topics' %}">Followed Topics</a>
<br>
<!-- Vertipics -->

<p>
{% if page_obj %}
    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}">Prev</a>
    {% endif %}

    {% proper_elided_page_range paginator page_obj.number as page_range %}

    {% for i in page_range %}
        {% if page_obj.number == i %} <li style="display:inline" class="active"><b>{{page.obj.number}}</b></li>
        {% elif i == paginator.ELLIPSIS %} <li class="active page_item"><span class="">{{paginator.ELLIPSIS}}</span></li>
        {% else %}
        <li class="page_item"><a class="page_link" href="?page={{i}}"> {{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}
{% endif %}
</p>
<p></p>

<table>
    <tbody>
        <tr>
            <th>Followed Topics</th>
        </tr>
{% for topic in followed_topics %}

        <tr><td id="{{topic.id}}" class="w"> <img src="{% static 'img/icons/normal_post.gif' %}"> <b><a href="{% url 'section_link' {{topic.board.name}}  %}">{{topic.board.name}}</a></b> / <b><a href="{% url 'topic_detail' topic.id %}">{{topic.title}}</a> </b> 
           <!-- Add pagination here -->
              <img src="{% static 'img/icons/new.gif' %}">   &nbsp; <a onclick="unfollowtopic()" ><img src="{% static 'img/icons/delete.png' %}"></a><br><span class="s">by <b><a href="{% url 'profile_view' {{topic.created_by}}  %}">{{topic.created_by}}</a></b>. <b>{{topic.post_count}}</b> post {{topic.post_count|pluralize 's' }} &amp; <b>{{topic.views}}</b> view{{topic.post_count|pluralize 's' }}. <b>{{ topic.date_created|date:"h:i a"}}</b> On <b>{{topic.date_created|date:"jS b"}}</b> </span></td></tr>
{% endfor %}

</tbody>
</table>
<p>
{% if page_obj %}
    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}">Prev</a>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %} <li style="display:inline" class="active"><b>{{page.obj.number}}</b></li>

        {% elif forloop.counter <= 10 %} <li style="display:inline" class="page_item"><a class="page_link"
            href=" ?page={{forloop.counter}}"> ({{ forloop.counter }})</a></li>
        {% endif %}
    {% endfor %}
        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
        {% endif %}(of <b>{{paginator.num_pages}}</b> page{{page_obj.paginator.num_pages|pluralize 's'}})
{% endif %}
</p><!-- VERTIPICS HERE-->
<p class="small">(<a href="#up"><b>Go Up</b></a>)</p>

<p></p>
{% endblock content %}
