<table id="down">
    <tbody>
        <tr>
            <td class="small w grad">
                <p></p>
                <form action="{% url 'search' %}"> <input type="text" name="q" size="32">
                    <input type="submit" name="search" value="Search">
                </form><b><a href="/" title="Liberian Forum">Libertyland</a></b> - Copyright © {% now "Y" %} <a
                    href="#" title="Homeland">Liberty Forum</a>. All rights reserved. S
                13<br><b>Disclaimer</b>: Every Forum member is <b>solely responsible</b> for <b>anything</b> that
                he/she <b>posts</b> or <b>uploads</b> on Liberian Forum
            </td>
        </tr>
    </tbody>
</table>