{% extends 'forum/base.html' %}
{% load static %}

{% block content %}
<table summary="posting form"><tr><td class="l">    {% include 'posting_rules.html' %}


<form method=POST  id="postform" name="postform" enctype="multipart/form-data">
{% csrf_token %} 

{{form.non_field_errors }}
{{form.errors }}


{% for hidden_field in form.hidden_fields %}
    {{hidden_field.errors}}
    {{hidden_field}}
{% endfor %}

<p><b>Message</b>:</p>
{% include 'editor.html' %}

{{form.file}}
<br /><br />

<input style="text-align:center; padding:4px 12px 4px 12px; border:1px solid #eee; border-radius:4px" type="submit" value="Post" />

 </form>

 </td>
</tr>
</table>

<a href="#top"></a>


<table>

{% for post in replies %} <!--Replies for a particular post-->

<tr>
    <td class="bold l pu"><a href="#top">{% if not forloop.first %}Re:{% endif %} {{topic.title}} </a> by <a
            href="{% url 'profile_view' post.created_by %}" class="user"
            title="Location: {{topic.created_by.location}}">{{post.created_by}}</a>(<span
            class="m">{{post.created_by.get_gender_display}}</span>): <span
            class="s"><b>{{ post.date_created|date:"h:i a"}}</b>
            On
            <b>{{post.date_created|date:"jS b"}}</b></span></td>
</tr>

<!-- END OF POST TITLE -->

<!--POST BODY OR CONTENT-->

<tr>
    <td class="l w pd">
        <div id={{post.id}} class="narrow">
            <p> {{post.message}} </p>
        </div>

        <p class="s inline ml-5" > 
            {% if post.created_by == request.user %}
                (<a href="{% url 'update_post' post.id %}">Edit</a>)
            {% endif %}
            (<a href="{% url 'quote_post' post.id %}">Quote</a>)

            (<a href=" {% url 'report_post' post.id %}">Report </a>) 
        </p> 
            <p id='likebutton' style='display:inline-block' >

            {% with like_txt='Like' share_txt='share' likes_count=post.totalikescount shares_count=post.totalsharescount  user=request.user.id %}
            {% if likes_count == 0 %}
               <span class='s' id='likescount-{{post.id}}' style='font-weight:bold;'></span> 
               <span class='s' id='liketext-{{post.id}}' style='font-weight:bold;'></span> 

            {% else %}
                <span class='s' id='likescount-{{post.id}}' style='font-weight:bold;'>{{likes_count}}</span> 
                <span class='s' id='liketext-{{post.id}}' style='font-weight:bold;'>Like{{likes_count|pluralize}} </span> 
            {% endif %}

            {% if request.user in post.liked_by.all %}
                (<a id='postlike-{{post.id}}' onclick="likeUnlikePost(this, true, {{post.id}})" class='s' state="true" url="{% url 'post_like' post.id  %}">Unlike</a>)

            {% else %}
                (<a id='postlike-{{post.id}}' onclick="likeUnlikePost(this, false, {{post.id}})" class='s' state="false" url="{% url 'post_like' post.id  %}">Like</a>)
            {% endif %}
            </p>


            <p id='sharebutton' style='display:inline-block'>

            {% if shares_count == 0 %}
                <span class='s' id='sharescount-{{post.id}}' style='font-weight:bold;'></span> 
                <span class='s' id='sharetext-{{post.id}}'
                style='font-weight:bold;'></span>

            {% else %}                  
                <span class='s' id='sharescount-{{post.id}}' style='font-weight:bold;'>{{shares_count}}
                </span> <span class='s' id='sharetext-{{post.id}}'
                    style='font-weight:bold;'>Share{{shares_count|pluralize}}
                </span>
            {% endif %}
            

            {% if request.user in post.shared_by.all %}
                (<a id='postshare-{{post.id}}' class='s'  onclick=" shareUnsharePost(this, true, {{post.id}})" state="true" url="{% url 'post_share' post.id  %}">Un-Share</a>)  

            {% else %}
                (<a id='postshare-{{post.id}}' class='s'  onclick=" shareUnsharePost(this, false, {{post.id}})" state="false" url="{% url 'post_share' post.id  %}">Share</a>)  
            {% endif %}

           {% if post.created_by == request.user %} (<a id='deletepost-{{post.id}}' class='float-left s' url="{% url 'delete_post' post.id %}">Delete</a>){% endif %} </p>

           {% endwith %}


       <!-- {{post.post_attachments.image.path}}  -->
{% if post.post_attachments.all %}
    {% for image in post.post_attachments.all %}
    <p> <img style="max-width:700px;" class="attachmentimage img" src="/media/{{image.image.name}}" /> </p>
    {% endfor %}
{% endif %}

    </td>
</tr>


{% endfor %} 

      </div>
      </table>

{% endblock content %}